MONGO_URI=mongodb+srv://geoUser:geoUser123@cluster0.cszbfmn.mongodb.net/geotruthai?retryWrites=true&w=majority&appName=Cluster0
GOOGLE_VISION_API_KEY=AIzaSyACOGEMKDMtZy5UNs-CiqZ4k4hyG4yw59s
CLOUDINARY_URL=cloudinary://941844273191788:YOUR_SECRET@dux0cuqjm
JWT_SECRET=your-super-secret-key-change-in-production
ML_SERVICE_URL=http://localhost:8001
FRONTEND_URL=http://localhost:5173
PORT=3000
NODE_ENV=development

